@font-face {
	font-family: 'Quicksand';
	src: url('~/assets/fonts/Quicksand-Bold/Quicksand-Bold.eot');
	src: local('☺'), url('~/assets/fonts/Quicksand-Bold/Quicksand-Bold.woff') format('woff'), url('~/assets/fonts/Quicksand-Bold/Quicksand-Bold.ttf') format('truetype'), url('~/assets/fonts/Quicksand-Bold/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat-Bold/Montserrat-Bold.eot');
	src: local('☺'), url('~/assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), url('~/assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), url('~/assets/fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot');
	src: local('☺'), url('~/assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('~/assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), url('~/assets/fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}